@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
    <p><a asp-controller = "Employee" asp-action="Index">Please Click Here For Employee Table.</a></p>
</div>
